node_modules
.git
.github
dist
coverage
*.log
.DS_Store
.idea
.vscode
*.tgz
docs
scripts
src/api
tsconfig.json
tsconfig.build.json
orval.config.ts
biome.json
bun.lockb
README.md
LICENSE
docker-compose.yml
Dockerfile